body {
  background-color: #FDFDD5;
}

#minky {
  background-color: #579CD0;
  color: white;
  text-align: center;
  font-size: 94px;
  margin-left: auto;
  margin-right: auto;
  max-width: 95%;
  border-radius: 10px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
}

#pingPongIt {
  margin-right: auto;
  margin-left: auto;
  background-color: #57d0c8;
  padding: 20px;
  border-radius: 10px;
}

.result {
  max-width: 95%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
}

.sidebar {
  background-color: #5760d0;
  border-radius: 10px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 15px;
  padding-top: 4px;
  height: 600px;
  max-width: 390px;
}

.initial {
  color: #e29a9f;
}

.secondary {
  color: #9fe29a;
}

#entryTitle {
  font-size: 24px;
}

.sideHeader {
  color: white;
}

#bigSideHeader {
  font-size: 28px;
}
